
html{
    width: 1440px;
    margin: auto;
    font-family: 'Noto Sans TC', sans-serif;
    color: #696868;
    
}

header{
    box-sizing: border-box;
    width: 1380px;
    height: 50px;
    margin-top: 30px;
    
}

.title{
    /* padding-left: 20px; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-left: 40px;
}
body{
    margin: 0px;
    height: 1735px;
}

.head_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -60px;
}

.head_nav_img_home{
    padding: 0px 5px;
    margin-top: 4px;
}

.head_nav_a{
    padding: 0px 7px;

    font-family: 'Noto Sans TC', sans-serif;;
    font-style: bold;
}

.head_nav_p{
    display: flex;
    flex-direction: row;

    margin-top: -18px;

    font-family: 'Noto Sans TC', sans-serif;;
    font-style: bold;
}

.head_nav_p1{
    padding: 0px 7px;
}

.head_nav_p2{
    padding: 0px 7px;
}

.head_nav_p3{
    padding: 0px 7px;
    /* font-size: 16pt; */
}

.head_nav_p4{
    padding: 0px 7px;
}

.head_nav_img_fb{
    padding: 0px 7px;
    margin-top: -2px;
}

.head_nav_img_insta{
    padding: 1.6px 7px 0px 7px;
    margin-top: -2px;
}
ul li{
    list-style-type: none;
    text-decoration: none;
}

    

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 915px;
    height: 1735px;
    margin:0px 207px 0px 207px;
    
}
.shops{
    margin:106px 0px 0px 0px;
    font-size: 12px;
    height: 1508px;
}
.shop_title{
    font-size: 20px;
    font-weight: bold;


}
.shop_list{
    padding: 0px;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin:0 -17.5px 0 -17.5px;
    
   
}
li{

    width: 24%;
    height: 274px;
    padding: 16px;
    margin: 17.5px;
    text-align: center;

    border-width: 1.5px;
    border-color: #738176;
    border-radius: 5px;
    border-style: solid;

}

.shop_list_item{
    width: 181px;
    height: 152px;
    margin-bottom: 13px;
    transition: 0.5s;
    opacity: 0.8;
    
    
}
.shop_list_item:hover{
    opacity: 0.48;
    border-radius : 12%;
    transform : scale(1.05);

    
}
.money{
    margin: 2.5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    margin: 10px 0px 2.5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    height: 20px;
    width: 70px;
    transition: 0.5s;
}
.name:hover{
    color: cadetblue;
}
.icon{
    width: 14px;
    height: 14px;
    padding: 5px;
}
.icon_list{
    width: 12px;
    height: 12px;

    
}
a {
    color:#696868;
    text-decoration:none;
}
.sidebar{

    font-size: 12px;
    margin-top: 165px;
    
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}


footer{
    width: 0px;
    height: 0px;

}
label{
    width: 60px;
    height: auto;
}
.footer{

    height: 60px;
    background-color: #738176;
    width: 1440px;

    color: white;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12px;
    padding-top: 10px;
}
.price_l{
    display: flex;
}
.price_h{
    display: flex;
}
.review{
    display: flex;
}